# testing and devel files
test*
*testing*

# temporary files, log files
*.log
*.e[0-9]*
*.o[0-9]*
*.out

# big outputs
*.nc
*.mat

# other outputs
*.png
*.mp4

# Stupid Mac files
.DS_Store

# Stupid vscode files
.vscode

# Stupid python files
__pycache__
.ipynb_checkpoints

# other files
/src/ext/matlab
/data/raw/OSSE_SSHSST
